<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Add User</h2>
    <h3>User information</h3>
    <form th:action="@{/a/user_add}" method="post" th:object="${newUser}">

        <input type="text" th:field="*{username}"><br><br>

        <input type="password" th:field="*{password}"><br><br>


        <select name="role">
            <th:block  th:each="role: ${roles}">
                <option th:text="${role.role}" th:value="${role.id}"></option>
            </th:block>
        </select>

        <br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>