<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Add new word</h2>
    <form th:action="@{/a/word_add}" method="post" th:object="${newWord}">

        <label for="nWord"></label><br>
        <input type="text" id="nWord" th:field="*{word}"><br><br>

        <label for="wDef">Definition</label><br>
        <textarea id="wDef" th:field="*{definition}"></textarea><br><br>

        <label for="wExamp">Examples</label><br>
        <textarea id="wExamp" th:field="*{example}"></textarea><br><br>

        <button type="submit">Save word</button>

    </form>
</body>
</html>