<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
    <th:block th:if="${answerPage == false}">
        <h2>Find correct definition for the word</h2>
        <th:block th:with="number = ${randomNumber}, question = ${randomWords.get(randomNumber)}, i = ${1}">
            <p style="font-size: 21px">Find correct <u>definition</u> for word: <i><b th:text="${question.getWord()}"></b></i></p>
            <th:block th:each="def : ${randomWords}">
                <div style="margin-top: 10px;">
                    <form th:action="@{/u/wordtest}" method="post">
                        <input type="hidden" name="qWord" th:value="${question.getWord()}">
                        <input type="hidden" name="aDefinition" th:value="${def.getDefinition()}">
                        <button type="submit" class="btn-answer" th:text="${randomWords.indexOf(def) + 1}"></button>
                        <span th:text="${def.getDefinition()}"></span>
                    </form>
                </div>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:if="${answerPage == true}">
        <th:block th:if="${checkAnswer == true}">
            <h2 style="color: green;">Your answer is correct.</h2>
        </th:block>
        <th:block th:if="${checkAnswer == false}">
            <h2 style="color: red;">Your answer is false.</h2>
        </th:block>
        <h3>Word: <span th:text="${correctWord.getWord()}"></span></h3>
        <h4>Definition: <span th:text="${correctWord.getDefinition()}"></span></h4>
        <h5>Examples: <span th:text="${correctWord.getExample()}"></span></h5>
        <p><a th:href="${wordLink}" target="_blank">More information about <span th:text="${correctWord.getWord()}"></span></a></p>

        <a href="/u/wordtest">Take test again</a>
    </th:block>

    <br><br>
    <a href="/">return to menu</a>
</body>
</html>